step-functions/marketing-agent-workflow.json
{
  "Comment": "ECM Marketing Agent Workflow",
  "StartAt": "ProcessActionPlan",
  "States": {
    "ProcessActionPlan": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.intent",
          "StringEquals": "blog",
          "Next": "CreateBlogDraft"
        },
        {
          "Variable": "$.intent",
          "StringEquals": "tasks",
          "Next": "CreateLinearTasks"
        },
        {
          "Variable": "$.intent",
          "StringEquals": "mix",
          "Next": "ParallelExecution"
        }
      ],
      "Default": "NotifyUser"
    },
    
    "CreateBlogDraft": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:SaveBlogDraft",
      "Parameters": {
        "blogDraft.$": "$.blogDraft",
        "seoPack.$": "$.seoPack"
      },
      "ResultPath": "$.blogResult",
      "Next": "NotifyBlogCreated"
    },
    
    "CreateLinearTasks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:CreateLinear",
      "Parameters": {
        "linearTasks.$": "$.linearTasks"
      },
      "ResultPath": "$.linearResult",
      "Next": "NotifyTasksCreated"
    },
    
    "ParallelExecution": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "CreateBlogDraftParallel",
          "States": {
            "CreateBlogDraftParallel": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:SaveBlogDraft",
              "Parameters": {
                "blogDraft.$": "$.blogDraft",
                "seoPack.$": "$.seoPack"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "CreateLinearTasksParallel",
          "States": {
            "CreateLinearTasksParallel": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:CreateLinear",
              "Parameters": {
                "linearTasks.$": "$.linearTasks"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "NotifyMixCompleted"
    },
    
    "NotifyBlogCreated": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:NotifyUser",
      "Parameters": {
        "userEmail.$": "$.userEmail",
        "actionType": "blog_draft_created",
        "actionData.$": "$.blogDraft",
        "message": "Blog draft created successfully"
      },
      "Next": "Success"
    },
    
    "NotifyTasksCreated": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:NotifyUser",
      "Parameters": {
        "userEmail.$": "$.userEmail",
        "actionType": "linear_tasks_created",
        "actionData": {
          "taskCount.$": "$.linearTasks.length",
          "teamKey.$": "$.linearTasks[0].teamKey"
        },
        "message": "Linear tasks created successfully"
      },
      "Next": "Success"
    },
    
    "NotifyMixCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:NotifyUser",
      "Parameters": {
        "userEmail.$": "$.userEmail",
        "actionType": "mix_completed",
        "actionData": {
          "blogCreated": true,
          "tasksCreated": true
        },
        "message": "Mixed actions completed successfully"
      },
      "Next": "Success"
    },
    
    "NotifyUser": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT}:function:NotifyUser",
      "Parameters": {
        "userEmail.$": "$.userEmail",
        "actionType": "action_completed",
        "actionData.$": "$",
        "message": "Action completed successfully"
      },
      "Next": "Success"
    },
    
    "Success": {
      "Type": "Succeed"
    }
  }
}
